In [1]:
#pip install opencv-python

Collecting opencv-python
  Downloading https://files.pythonhosted.org/packages/5a/af/dabae171f885ec4d9b2fe6aaf74c1d50a8d32106d840b9fb8eb0095a578d/opencv_python-4.2.0.32-cp37-cp37m-win_amd64.whl (33.0MB)
Requirement already satisfied: numpy>=1.14.5 in c:\programdata\anaconda3\lib\site-packages (from opencv-python) (1.16.5)
Installing collected packages: opencv-python
Successfully installed opencv-python-4.2.0.32
Note: you may need to restart the kernel to use updated packages.

In [3]:
#!pip install ghostscript
#No olvidar instalar directamente desde windows 10, instalador ghostscript 64 bits

Collecting ghostscript
  Downloading https://files.pythonhosted.org/packages/d0/bd/c96072da3a98a498285382ec6ee4b18379c021e4bb6561308e25bc4c04d0/ghostscript-0.6-py2.py3-none-any.whl
Requirement already satisfied: setuptools in c:\users\arturo\appdata\roaming\python\python37\site-packages (from ghostscript) (41.5.1)
Installing collected packages: ghostscript
Successfully installed ghostscript-0.6

In [5]:
#pip install --user camelot-py

Collecting camelot-py
  Using cached https://files.pythonhosted.org/packages/70/d6/a47894242a6fba58a2332489358afedc6209da43942ab7f850b932019101/camelot_py-0.7.3-py3-none-any.whl
Requirement already satisfied: click>=6.7 in c:\programdata\anaconda3\lib\site-packages (from camelot-py) (7.0)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from camelot-py) (1.16.5)
Requirement already satisfied: PyPDF2>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from camelot-py) (1.26.0)
Requirement already satisfied: chardet>=3.0.4 in c:\programdata\anaconda3\lib\site-packages (from camelot-py) (3.0.4)
Requirement already satisfied: openpyxl>=2.5.8 in c:\programdata\anaconda3\lib\site-packages (from camelot-py) (3.0.0)
Requirement already satisfied: pandas>=0.23.4 in c:\programdata\anaconda3\lib\site-packages (from camelot-py) (0.25.1)
Collecting pdfminer.six>=20170720 (from camelot-py)
  Using cached https://files.pythonhosted.org/packages/60/0a/5806bd37362bceebb88cff526177c308276b3e0696611564ed01d67b8c6b/pdfminer.six-20200124-py3-none-any.whl
Requirement already satisfied: jdcal in c:\programdata\anaconda3\lib\site-packages (from openpyxl>=2.5.8->camelot-py) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl>=2.5.8->camelot-py) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23.4->camelot-py) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23.4->camelot-py) (2.8.0)
Collecting pycryptodome (from pdfminer.six>=20170720->camelot-py)
  Using cached https://files.pythonhosted.org/packages/95/0d/db748eb8f68a56cc97e2d0bc62c26186999e7a074e166fc6186ce3449ebe/pycryptodome-3.9.7-cp37-cp37m-win_amd64.whl
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from pdfminer.six>=20170720->camelot-py) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23.4->camelot-py) (1.12.0)
Installing collected packages: pycryptodome, pdfminer.six, camelot-py
Successfully installed camelot-py-0.7.3 pdfminer.six-20200124 pycryptodome-3.9.7
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script camelot.exe is installed in 'C:\Users\Arturo\AppData\Roaming\Python\Python37\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [6]:
import camelot
import ghostscript

In [7]:
tables = camelot.read_pdf('foo.pdf')

tables

In [8]:
tables.export('foo.csv', f='csv', compress=True) # json, excel, html

tables[0]

In [9]:
tables[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [10]:
tables[0].to_csv('foo.csv') # to_json, to_excel, to_html

In [11]:
tables[0].df # get a pandas DataFrame!

,0,1,2,3,4,5,6
0,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,,,
1,,,,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
2,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
3,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
4,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
5,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
6,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

In [8]:
##Prueba con el archivo de ejemplo que tengo de evaluaciones ambientales...

In [13]:
#S-P-01235 EPD Steel rebar manufactured from steel scrap.pdf

tables_02 = camelot.read_pdf('S-P-01235 EPD.pdf')

tables_02

In [14]:
tables[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [15]:
tables_02[0].to_csv('tabla_1Claudia.csv') # to_json, to_excel, to_html

In [16]:
tables_02[1].to_csv('tabla_2Claudia.csv') # to_json, to_excel, to_html

In [17]:
tables_02[0].df # get a pandas DataFrame!

  0
0
1
2
3
4
5
6
7
8

In [18]:
tables_02[1].df # get a pandas DataFrame!

  0 1
0
1
2
3
4
5