Background: This tutorial uses any csv file with latitude and longitude columns in order to plot points on the web map. Make sure your csv file is saved in the same folder this notebook is saved (makes things easier). 

I recommend downloading the Anaconda Distribution which comes with jupyter notebook.

There are 3 main important python libaries that are used in this tutorial

1. Pandas: Pandas is a python library that is used for data analysis and manipulation.

2. kepler.gl: This a FREE open source web-based application that is capable of handling large scale geospatial data to create beautiful visualizations.

3. GeoPandas: Essentially, geopandas is an extension of Pandas; fully capable of handling and processing of geospatial data.

First step is to navigate to the folder where you want this notebook to be saved from the main directory when juypter notebook is launched. Then click 'new' -> Python 3, a tab will open up with your notebook (See image below).

Next, using the terminal it is important to have these libraries installed to ensure that this tutorial works and everything runs smoothly.

For more information on jupyter notebook see: https://jupyter.org/

Navigate back to the directory and open a terminal prompt via the 'new' Tab'. 

A new tab will open up, this will function very similarly to the command prompt on windows. Next type "pip install pandas keplergl geopandas" (do not include quotes). This process will help install these libraries.

In [1]:
import pandas as pd #importing the Pandas Library as 'pd'
from keplergl import KeplerGl #importing KeplerGl
import geopandas as gpd #importing geopandas as 'gpd'
#Pandas in action below
df = pd.read_csv("Active_construction.csv")#Reading the active construction data set into pandas for processing
df.head()#Checking to see if data was properly imported!

,cost_estimate,latitude,longitude,borough,job_type,permit_type,job_number,bin_number,square_footage,permit_issuance_date,job_location_house_number,job_location_street_name,proposed_occupancy_class,proposed_stories,proposed_dwelling_units
0,282680,40.556881,-73.920731,Queens,NB,New Building,421619485,4466603,1910,10/18/2018,187,BEDFORD AVENUE,RESIDENTIAL: 1 & 2 FAMILY HOUSES,3,1.0
1,423280,40.556881,-73.920731,Queens,NB,New Building,421642084,4618615,2860,10/18/2018,107,BEACH 219 STREET,RESIDENTIAL: 1 & 2 FAMILY HOUSES,3,1.0
2,932400,40.624321,-73.942261,Brooklyn,NB,New Building,320913990,3208920,6300,10/18/2018,1281,EAST 34 STREET,RESIDENTIAL: 1 & 2 FAMILY HOUSES,3,1.0
3,29600,40.624321,-73.942261,Brooklyn,NB,New Building,320916666,3208920,200,10/18/2018,1281,EAST 34 STREET,UTILITY / MISCELLANEOUS,1,NaN
4,316629,40.624760,-73.953552,Brooklyn,A1,ALT 1 Enlargement,321232368,3254329,404,10/18/2018,1052,EAST 23 STREET,RESIDENTIAL: 1 & 2 FAMILY HOUSES,3,1.0

Everything Works! So far... Next we want to create a placeholder map using Kepler.gl!

In [2]:
#Create a basemap 
map = KeplerGl(height=600, width=800)
map #show the map

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(height=600)

Yup! This works too! Don't worry about the map not being centered on the location where your data lives. That comes next.

Now we create a geoenabled dataframe to use our points to our #map

In [3]:
# Create a geodataframe
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))
#make sure that your latitude and longitude are named as they are in your csv

In [4]:
map.add_data(data=gdf, name="Construction") #add geoenabled dataframe to map

Thats it! Now you can style your map within your new web map.

In [ ]:
map.save_to_html(file_name='GeoVizJeremySingh.html') 
# if you wish to save your map as an .html you can run this command