# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
#Faltaba un ounto a la ruta para poder abrir...
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
df = pd.DataFrame(data.groupby(['CustomerID',
                                'ProductName'])['Quantity'].sum())

In [5]:
df

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
matrix = pd.pivot_table(df, index='ProductName',
                        columns='CustomerID', values='Quantity').fillna(0)
matrix

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [7]:
sim_matrix = pd.DataFrame(1/(1 + squareform(pdist(matrix.T, 'euclidean'))),
                          index=matrix.columns, columns=matrix.columns)
sim_matrix

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [8]:
lst=sim_matrix[33].sort_values(ascending=False)[:5]
lst

CustomerID
33      1.000000
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [9]:
customer=df.loc[lst.index]
customer

                                           Quantity
CustomerID ProductName
33         Apricots - Dried                       1
           Assorted Desserts                      1
           Bandage - Flexible Neon                1
           Bar Mix - Pina Colada, 355 Ml          1
           Beans - Kidney, Canned                 1
...                                             ...
3535       Tray - 16in Rnd Blk                    1
           Wanton Wrap                            1
           Wine - Blue Nun Qualitatswein          1
           Wine - Magnotta, Merlot Sr Vqa         1
           Yoghurt Tubes                          1

[275 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [10]:
products=customer.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(['Quantity'],
                                                                               ascending = False)
products

                              Quantity
ProductName
Pepper - Black, Whole                4
Butter - Unsalted                    3
Grouper - Fresh                      3
Veal - Inside, Choice                3
Veal - Sweetbread                    3
...                                ...
Fenngreek Seed                       1
Fish - Scallops, Cold Smoked         1
Flour - Teff                         1
Foam Dinner Plate                    1
Yogurt - French Vanilla              1

[216 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [11]:
#
recommended=products.merge(matrix[33], on='ProductName')

In [12]:
recommended=recommended.loc[recommended[33]==0.0]

In [13]:
recommended.head(5)

                              Quantity   33
ProductName
Butter - Unsalted                    3  0.0
Soup - Campbells Bean Medley         3  0.0
Tart Shells - Sweet, 4               2  0.0
Scallops 60/80 Iqf                   2  0.0
Garbage Bags - Clear                 2  0.0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [18]:
#Se crea el diccionario...
recommend_tot={}
#Se crea la lista con Id de clientes...
customersID=set(list(data['CustomerID']))
for cu in customersID:
    #Paso 4...
    lst1=sim_matrix[cu].sort_values(ascending=False)[:5]
    lst2=list(lst1.index)
    #Paso 5...
    customeri=df.loc[lst2]
    #Paso 6...
    #products1=customeri.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(['Quantity'],ascending = False)
    products1=customeri.reset_index().groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(['Quantity'],ascending=False)
    #products1=customeri.reset_index().groupby(['ProductName'].agg({'Quantity':'sum'}).sort_values(['Quantity'],ascending=False))
    #Paso 7...
    products2=products1.merge(matrix[cu], on='ProductName')
    products3=products2.loc[products2[cu]==0.0].sort_values(by='Quantity', ascending= False)[:5]
    #Se toman nuevos Ã­ndices...
    indexes =list(products3.index)
    recommend_tot[cu]=indexes

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [19]:
dff=pd.DataFrame(recommend_tot)
dff= dff.T
dff

,0,1,2,3,4
83973,Cocoa Butter,Veal - Slab Bacon,Ezy Change Mophandle,Bandage - Fexible 1x3,Puree - Passion Fruit
59399,"Shrimp - Baby, Warm Water",Nantucket - Pomegranate Pear,Towels - Paper / Kraft,Snapple - Iced Tea Peach,Bagel - Plain
92168,Cup - Translucent 7 Oz Clear,"Veal - Brisket, Provimi,bnls",Snapple Lemon Tea,Bread - Calabrese Baguette,Spinach - Baby
49159,"Pasta - Penne, Rigate, Dry",Cookies - Assorted,Cheese - Parmesan Grated,Puree - Mocha,Zucchini - Yellow
18441,Soupfoamcont12oz 112con,Flour - Pastry,Foam Cup 6 Oz,Soup Knorr Chili With Beans,Beef - Texas Style Burger
...,...,...,...,...,...
77814,Wine - Ruffino Chianti,Squid U5 - Thailand,Beef - Top Sirloin - Aaa,French Pastry - Mini Chocolate,Scallops - 10/20
32753,Grouper - Fresh,Sherry - Dry,Napkin White - Starched,Sprouts - Alfalfa,Yoghurt Tubes
20476,Soup - Campbells Tomato Ravioli,Duck - Breast,"Wine - Magnotta, Merlot Sr Vqa","Salsify, Organic",Skirt - 29 Foot
67582,Wine - Redchard Merritt,Cake - Mini Cheesecake,Ecolab - Solid Fusion,Cheese - Bocconcini,Mussels - Frozen
65535,Sauce - Rosee,"Chestnuts - Whole,canned",Scallop - St. Jaques,"Bread - Roll, Soft White Round",Pasta - Angel Hair

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [20]:
sim_matrix2 = pd.DataFrame(1/(1 + squareform(pdist(matrix.T, 'correlation'))),
                          index=matrix.columns, columns=matrix.columns)
sim_matrix2

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.493776,0.529677,0.510360,0.506951,0.507217,0.487410,0.497932,0.499215,0.502499,...,0.493385,0.484376,0.493486,0.479867,0.499870,0.479764,0.493197,0.486457,0.491384,0.492072
200,0.493776,1.000000,0.499733,0.498575,0.482172,0.481921,0.519139,0.480599,0.499131,0.505459,...,0.504719,0.496170,0.517884,0.508954,0.492581,0.484514,0.534491,0.500253,0.484272,0.488735
264,0.529677,0.499733,1.000000,0.497579,0.513573,0.490305,0.503243,0.480936,0.502028,0.490242,...,0.508803,0.490805,0.499750,0.499162,0.517743,0.525278,0.511845,0.503500,0.515736,0.490875
356,0.510360,0.498575,0.497579,1.000000,0.490143,0.489778,0.501933,0.507803,0.482686,0.486354,...,0.499105,0.486660,0.498662,0.502228,0.494239,0.496086,0.484207,0.502204,0.506401,0.500631
412,0.506951,0.482172,0.513573,0.490143,1.000000,0.497577,0.505111,0.512470,0.493947,0.507777,...,0.488109,0.529502,0.492033,0.495264,0.504752,0.500064,0.481259,0.502418,0.505997,0.515015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.479764,0.484514,0.525278,0.496086,0.500064,0.507963,0.504739,0.499300,0.500268,0.492619,...,0.494577,0.504692,0.487604,0.510055,0.534474,1.000000,0.525583,0.508923,0.492050,0.482921
98069,0.493197,0.534491,0.511845,0.484207,0.481259,0.484219,0.496892,0.490306,0.495330,0.506038,...,0.489353,0.499742,0.493332,0.484621,0.518025,0.525583,1.000000,0.511707,0.501063,0.498897
98159,0.486457,0.500253,0.503500,0.502204,0.502418,0.499195,0.500240,0.502118,0.510333,0.502173,...,0.505074,0.522726,0.500553,0.489177,0.506341,0.508923,0.511707,1.000000,0.504367,0.495580
98185,0.491384,0.484272,0.515736,0.506401,0.505997,0.489667,0.487961,0.511136,0.500094,0.480046,...,0.483728,0.470481,0.497652,0.494943,0.490103,0.492050,0.501063,0.504367,1.000000,0.505914
98200,0.492072,0.488735,0.490875,0.500631,0.515015,0.516325,0.495461,0.496775,0.483588,0.514917,...,0.491940,0.491017,0.509511,0.491520,0.501261,0.482921,0.498897,0.495580,0.505914,1.000000

In [21]:
#Se crea el diccionario...
recommend_tot2={}
#Se crea la lista con Id de clientes...
customersID=set(list(data['CustomerID']))
for cu in customersID:
    #Paso 4...
    lst1=sim_matrix2[cu].sort_values(ascending=False)[:5]
    lst2=list(lst1.index)
    #Paso 5...
    customeri=df.loc[lst2]
    #Paso 6...
    
    products1=customeri.reset_index().groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(['Quantity'],ascending = False)
    
    #Paso 7...
    products2=products1.merge(matrix[cu], on='ProductName')
    products3=products2.loc[products2[cu]==0.0].sort_values(by='Quantity', ascending= False)[:5]
    #Se toman nuevos Ã­ndices...
    indexes =list(products3.index)
    recommend_tot2[cu]=indexes

In [22]:
dff2=pd.DataFrame(recommend_tot2)
dff2= dff2.T
dff2

,0,1,2,3,4
83973,"Cheese - Brie,danish",Pastry - Choclate Baked,Puree - Passion Fruit,Lettuce - Spring Mix,Broom - Corn
59399,Anchovy Paste - 56 G Tube,Ezy Change Mophandle,Garlic - Peeled,Broom - Corn,Cake - Mini Cheesecake
92168,Tuna - Salad Premix,Wiberg Super Cure,Sage - Ground,Beef - Inside Round,Nantucket - Pomegranate Pear
49159,Lamb - Ground,Peas - Frozen,Beer - Blue,"Turnip - White, Organic",Beef - Ground Medium
18441,Ecolab - Lime - A - Way 4/4 L,V8 - Berry Blend,Tea - Jasmin Green,"Cheese - Boursin, Garlic / Herbs",Napkin White - Starched
...,...,...,...,...,...
77814,Hersey Shakes,Potatoes - Idaho 100 Count,Beef - Texas Style Burger,Scallops - Live In Shell,Remy Red
32753,Tuna - Salad Premix,Rice - Jasmine Sented,Beef - Ground Medium,"Water, Tap",Sun - Dried Tomatoes
20476,Table Cloth 62x114 White,Onion Powder,Cheese Cloth No 100,"Turnip - White, Organic","Beer - Alexander Kieths, Pale Ale"
67582,"Oil - Shortening,liqud, Fry",Tea - Herbal Sweet Dreams,Crab - Imitation Flakes,Pastry - Choclate Baked,Cumin - Whole
65535,Grapes - Red,Beets - Mini Golden,Tea - English Breakfast,Bandage - Fexible 1x3,"Wine - White, Schroder And Schyl"