# Notas en Jupyter del proceso de rellenado y limpieza de datos...

## Previa...

Inicialmente había estado trabajando con un archivo xls proveniente del lugar original en internet que se encarga de monitorear el ataque de tiburones a nivel mundial...

Como no me había fijado que en eel caso de este ejercicio durant el curso previo, fue que la columna denominada Case number aparece solamente con ceros, no recordaba que desde el archivo csv es posible acceder a los números de caso en el formato string.

Por falta de tiempo, tendrá que deja rtruncado la idea que tenía para el proyecto y kimitarme a lo que solicitan de rellenar y dar formato aproximadamente uniforme a las celdas en los registros que puedan usarse en algún momento.

No tomaré mucho en cuenta las columnas al final del conjunto, ahí se encuentran la secuencia de registro de los archivos y algunas columnas denominadas como unnamed22 y unnamed23, las cuales se han generado porque aparecen repetidas algunas celdas en un mismo registro de pdf y el href.

In [50]:
#Importamos pandas...
import pandas as pd

In [51]:
#Abrimos un archivo .xls que encontré en el sitio Kaggle...
data= pd.read_csv('Psharks_kaggle.csv',encoding='latin-1')

In [52]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [53]:
data.shape

(5992, 24)

In [54]:
#Analizamos los nombres de las columnas en el dataframe de los p.... shakrs, 
# para ver si hay algo que pudiera provocar conflicto
list(data.columns)

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

In [55]:
#Renombramos columnas conflictivas
data.rename(columns = {'Case Number':'Case_number','Sex ':'Sex','Fatal (Y/N)':'Fatal',
                       'Species ':'Species','Investigator or Source':'Source','href formula':'href_f',
                       'Case Number.1':'Case_Number_1','Case Number.2':'Case_Number_2',
                       'original order':'original_order','Unnamed: 22':'original_order_1',
                       'Unnamed: 23':'original_order_2'}, inplace = True)

In [56]:
list(data.columns)

['Case_number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal',
 'Time',
 'Species',
 'Source',
 'pdf',
 'href_f',
 'href',
 'Case_Number_1',
 'Case_Number_2',
 'original_order',
 'original_order_1',
 'original_order_2']

In [57]:
#Vemos cómo está la forma general de las columnas...
data.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href_f,href,Case_Number_1,Case_Number_2,original_order,original_order_1,original_order_2
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [58]:
#Eliminamos el total de registros que tienen un año menor a 1900...
indexNames = data[ data['Year'] < 1900 ].index
data.drop(indexNames , inplace=True)
data.tail()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href_f,href,Case_Number_1,Case_Number_2,original_order,original_order_1,original_order_2
5320,1900.07.14,14-Jul-00,1900,Invalid,USA,Hawaii,"Makapu'u Point, O'ahu",Hunting seashells,Emil Uhlbrecht & unidentified person,M,...,NaN,"Los Angeles Times, 7/28/1900",1900.07.14-Uhlbrecht.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.07.14,1900.07.14,673,NaN,NaN
5321,1900.07.00,Late Jul-1900,1900,Provoked,USA,Connecticut,"Bridgeport, Fairfield County",,"skiff with Dr. William T. Healey, Dr. Henry Ca...",NaN,...,NaN,"Times, 8/1/1900",1900.07.00-Bridgeport.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.07.00,1900.07.00,672,NaN,NaN
5322,1900.01.28,28-Jan-1900,1900,Unprovoked,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)","Standing, gathering oysters",Charles Duck,M,...,NaN,"Poverty Bay Herald, 2/12/1900",1900.01.28-Duck.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.01.28,1900.01.28,671,NaN,NaN
5323,1900.00.00.b,Early 1900s,1900,Unprovoked,USA,Hawaii,"Inter-Island Dry Dock at Kakaako Street, Honol...",NaN,Emil A. Berndt,M,...,NaN,"G. H. Balazs; J. Borg, p.69; L. Taylor (1993),...",1900.00.00.b-Berndt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.00.00.b,1900.00.00.b,670,NaN,NaN
5324,1900.00.00.a,Ca. 1900,1900,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,Swimming,Mr. Gruner,M,...,NaN,H. Monsen,1900.00.00.a-Gruner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.00.00.a,1900.00.00.a,669,NaN,NaN

In [59]:
#Verificamos la cantidad de registros existentes todavía...
data.shape

(5324, 24)

In [60]:
data.shape

(5324, 24)

In [61]:
#Vovlemos a guardar el archivo para verificarlo...
data.to_excel('Shark_preliminar.xls')

In [62]:
#Aqui trabajamos el casod e la fecha donde la extraemos del case_number
#Se pensaría que están repetidos los registros, sin embargo hay varios casos
#donde que se sucitaron en lugares o hasta países distintos...
Left = data['Case_number'].str[:10]
Left.head()

0    2016.09.18
1    2016.09.18
2    2016.09.18
3    2016.09.17
4    2016.09.15
Name: Case_number, dtype: object

In [63]:
#Reemplazamos el registro de fechas por el resultado en la lista Left...
data['Date'] = Left.values

In [64]:
#Pasamod de . a guón para dejar un formato más estándar de la fecha...
data['Date'] = data['Date'].str.replace('.','-')

In [65]:
#Vemos cómo está la forma general de las columnas...
data.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href_f,href,Case_Number_1,Case_Number_2,original_order,original_order_1,original_order_2
0,2016.09.18.c,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,2016-09-17,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,2016-09-15,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [66]:
#Verificamoe el tipo de los elementos en las columnas...
print(data.dtypes)

Case_number         object
Date                object
Year                 int64
Type                object
Country             object
Area                object
Location            object
Activity            object
Name                object
Sex                 object
Age                 object
Injury              object
Fatal               object
Time                object
Species             object
Source              object
pdf                 object
href_f              object
href                object
Case_Number_1       object
Case_Number_2       object
original_order       int64
original_order_1    object
original_order_2    object
dtype: object

In [67]:
#Vemos cómo está la forma general de las columnas...
data.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href_f,href,Case_Number_1,Case_Number_2,original_order,original_order_1,original_order_2
0,2016.09.18.c,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,2016-09-17,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,2016-09-15,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [19]:
#Guardé un archivo preliminar en xls para ver como estaban las columnas de forma más general...
data.to_excel('Shark_preliminar.xls')

In [68]:
#Vemos ahora el número de registros que son nulos en las diferentes columnas
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country               22
Area                 295
Location             363
Activity             426
Name                 158
Sex                  505
Age                 2103
Injury                19
Fatal                  9
Time                2633
Species             2389
Source                13
href_f                 1
href                   2
original_order_1    5323
original_order_2    5323
dtype: int64

In [69]:
#Después de consultar con un conocido, me indica que la mayoría de los reportes 
#sin un país claramente designado es porque fue algún tipo de hundimiento en mar abierto,
#un hombre al agua de algún crucero, asíq ue lso rellenaré con OPEN OCEAN...
data["Country"].fillna("OPEN OCEAN",inplace=True)

In [70]:
#Marcamos como no especificados aquellos registros con lugares no asigandos...
data["Area"].fillna("Not specified", inplace = True)

In [71]:
#Colocamos como no especificados aquellos registros con ubicación vacía...
data["Location"].fillna("Not specified", inplace = True)

In [72]:
#Normalmente los valores que no tienen un Y, son aquellos a los que ya no se dió seguimiento,
#así que se consideran como no fatales...
data["Fatal"].fillna("N", inplace = True)

In [73]:
#Los registros en inglés (normalmente de los E.E.U.U) para los casos de que no exista un nombre
#para la víctima, estos se indican como John o Jane Doe...
data["Name"].fillna("John/Jane Doe", inplace = True)

In [74]:
#Hacemos lo mismo para la columnas del sexo de las víctimas...
data["Sex"].fillna("Not specified", inplace = True)

In [75]:
#Igualmente hacemos los mismo para las columna actividad rellenando con no specified...
data["Activity"].fillna("Not especified", inplace = True)

In [76]:
#La edad...
data["Age"].fillna("Not specified", inplace = True)

In [77]:
#Para la hora haremos lo mismo...
data["Time"].fillna("Not declared", inplace = True)

In [78]:
#Rellenamos los datos vacíos como no identificados...
data["Species"].fillna("NOT IDENTIFIED", inplace = True)

In [79]:
#Igualmente las lesiones, puesto que me concentraré en si fueron ataques fatales o no...
data["Injury"].fillna("Not specified", inplace = True)

In [80]:
#Igualmente las lesiones, puesto que me concentraré en si fueron ataques fatales o no...
data["Source"].fillna("Not specified", inplace = True)

In [81]:
#Igualmente las lesiones, puesto que me concentraré en si fueron ataques fatales o no...
data["pdf"].fillna("Not specified", inplace = True)

In [82]:
#Vemos ahora el número de registros que son nulos en las diferentes columnas que ya no interesan a los fines del trabajo...
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

href_f                 1
href                   2
original_order_1    5323
original_order_2    5323
dtype: int64

In [34]:
#Guardé de nuevo el archivo preliminar en xls para ver como estaban las columnas de forma más general...
data.to_excel('Shark_preliminar.xls')

## Iniciamos el trabajo para uniformizar los valores en celdas de distintas columnas

In [83]:
#Inicianos la uniformización de contenidos en Fatal...
data["Fatal"] = data["Fatal"].str.replace("F", "Y")
data["Fatal"] = data["Fatal"].str.replace("UNKNOWN", "U")
data["Fatal"] = data["Type"].str.replace("Questionable", "U")
data["Fatal"] = data["Type"].str.replace("Unconfirmed", "U")

In [84]:
#Contamos cuantos datos distintos aparecen en columna del tipo de ataque...
data['Type'].value_counts()
#Se aprecia que no son muchas variaciones las que existen

Unprovoked      3884
Provoked         525
Invalid          451
Boat             194
Sea Disaster     181
Boating           89
Name: Type, dtype: int64

In [85]:
#Contamos cuantos datos distintos aparecen en la columna que más nos interesa que es la ...
print(data['Species'].value_counts())

NOT IDENTIFIED                               2389
White shark                                   154
Shark involvement not confirmed                78
Tiger shark                                    64
Bull shark                                     47
                                             ...
2.7 m to 3 m [9' to 10'] sharks                 1
1m to 1.2 m shark                               1
4.5 m to 5.5 m [14.7' to 18'] white shark       1
small hammerhead shark                          1
4' to 8' shark                                  1
Name: Species, Length: 1491, dtype: int64

In [86]:
#Pasamos todos los string a minusculas para trabajar más fácilmente con ellos...
data.Species=data.Species.apply(lambda x: str(x).lower())

In [87]:
data["Species"] = data["Species"].str.replace("shark involvement not confirmed", "not confirmed")

In [88]:
data["Species"] = data["Species"].str.replace("not confirmed; thought to be a barracuda bite", "not confirmed")

In [89]:
#Iniciamos con el tiburón toro y el oceánico de puntas blancas
data.loc[data['Species'].str.contains('bull', case=False), 'Species'] = 'bull'
data.loc[data['Species'].str.contains('leucas', case=False), 'Species'] = 'bull'
data.loc[data['Species'].str.contains('whitetip', case=False), 'Species'] = 'oceanic_whitetip'

#Ahora hacemos lo mismo para el tiburón blancoy el tigre..
data.loc[data['Species'].str.contains('white', case=False), 'Species'] = 'white'
data.loc[data['Species'].str.contains('tiger', case=False), 'Species'] = 'tiger'

#Tiburón azul...
data.loc[data['Species'].str.contains('blue', case=False), 'Species'] = 'blue'
data.loc[data['Species'].str.contains('tintorero', case=False), 'Species'] = 'blue'

#Tiburón de gaápagos y nurse...
data.loc[data['Species'].str.contains('galap', case=False), 'Species'] = 'galapagos'
data.loc[data['Species'].str.contains('nurse', case=False), 'Species'] = 'nurse'

#Arrecife caribeño y dusky...
data.loc[data['Species'].str.contains('caribbean', case=False), 'Species'] = 'caribbean_reef'
data.loc[data['Species'].str.contains('dusky', case=False), 'Species'] = 'dusky'

#Tiburones de punta chata...
data.loc[data['Species'].str.contains('broadnose', case=False), 'Species'] = 'broadnose_sevengill'
data.loc[data['Species'].str.contains('sevengill', case=False), 'Species'] = 'broadnose_sevengill'
data.loc[data['Species'].str.contains('sikgill', case=False), 'Species'] = 'bluntnose_sixgill'
data.loc[data['Species'].str.contains('bluntnose', case=False), 'Species'] = 'bluntnose_sixgill'

#Tiburón de arena y silky...
data.loc[data['Species'].str.contains('sand', case=False), 'Species'] = 'sand_tiger'
data.loc[data['Species'].str.contains('silky', case=False), 'Species'] = 'silky'

#Tiburón ballena...
data.loc[data['Species'].str.contains('bronze', case=False), 'Species'] = 'bronze_whaler'
data.loc[data['Species'].str.contains('whaler', case=False), 'Species'] = 'bronze_whaler'
data.loc[data['Species'].str.contains('whale', case=False), 'Species'] = 'bronze_whaler'

#Spinner y basking...
data.loc[data['Species'].str.contains('spinner', case=False), 'Species'] = 'spinner'
data.loc[data['Species'].str.contains('basking', case=False), 'Species'] = 'basking'

#Tiburón martillo
data.loc[data['Species'].str.contains('hammerhead', case=False), 'Species'] = 'great_hammerhead'
data.loc[data['Species'].str.contains('hammerhead', case=False), 'Species'] = 'great_hammerhead'


#Los dos tipos de puntas negras, oceánico y arrecife...
data.loc[data['Species'].str.contains('blacktip reef', case=False), 'Species'] = 'bt_reef'
data.loc[data['Species'].str.contains('limbatus', case=False), 'Species'] = 'blacktip'
data.loc[data['Species'].str.contains('blacktip', case=False), 'Species'] = 'blacktip'
data.loc[data['Species'].str.contains('bt_reef', case=False), 'Species'] = 'blacktip_reef'

#Shortfin mako, lemon y gris de arrecife...
data.loc[data['Species'].str.contains('mako', case=False), 'Species'] = 'shortfin_mako'
data.loc[data['Species'].str.contains('lemon', case=False), 'Species'] = 'lemon'
data.loc[data['Species'].str.contains('gray', case=False), 'Species'] = 'gray_reef'

#Zambesi, arena y puntas plateadas...
data.loc[data['Species'].str.contains('zambesi', case=False), 'Species'] = 'zambesi'
data.loc[data['Species'].str.contains('macrurus', case=False), 'Species'] = 'sand'
data.loc[data['Species'].str.contains('albimarginatus', case=False), 'Species'] = 'silvertip'

#Tiburón australiano raro...
data.loc[data['Species'].str.contains('wobbegong', case=False), 'Species'] = 'spotted_wobbegong'

#Especies pequeñas...
data.loc[data['Species'].str.contains('15', case=False), 'Species'] = 'small_species'
data.loc[data['Species'].str.contains('dogfish', case=False), 'Species'] = 'small_species'
data.loc[data['Species'].str.contains('small', case=False), 'Species'] = 'small_species'
data.loc[data['Species'].str.contains('heterodontus', case=False), 'Species'] = 'small_species'
data.loc[data['Species'].str.contains('guitarfish', case=False), 'Species'] = 'small_species'
data.loc[data['Species'].str.contains('less than', case=False), 'Species'] = 'small_species'
data.loc[data['Species'].str.contains('tooth', case=False), 'Species'] = 'small_species'

#Todos los no identificados adecuadamente...
data.loc[data['Species'].str.contains('shark', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('sharks', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('not', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('unidentified', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('unidentified', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('unconfirmed', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('scyliorhinus canicula', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('doubtful', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('unknown', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('questionable incident', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('remains', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('remains', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('to', case=False), 'Species'] = 'not identified'
data.loc[data['Species'].str.contains('not identified', case=False), 'Species'] = 'not_identified'
data.loc[data['Species'].str.contains(' ', case=False), 'Species'] = 'not_identified'

In [90]:
print(data['Species'].value_counts())

not_identified         3491
white                   630
tiger                   266
bull                    173
small_species           132
nurse                    91
bronze_whaler            72
blacktip                 61
blue                     55
shortfin_mako            54
spinner                  46
great_hammerhead         44
spotted_wobbegong        44
zambesi                  32
lemon                    31
sand_tiger               27
dusky                    16
caribbean_reef           16
broadnose_sevengill      12
blacktip_reef            10
basking                   5
silky                     4
gray_reef                 4
galapagos                 4
porbeagle                 1
sand                      1
spurdog                   1
silvertip                 1
Name: Species, dtype: int64

## Segunda parte con el trabajo en columnas faltantes...

In [91]:
#Revisamos el sexo...
data.Sex.unique()

array(['M', 'Not specified', 'F', 'M ', 'lli', 'N', '.'], dtype=object)

In [92]:
data["Sex"] = data["Sex"].str.replace("lli", "Not specified")
data["Sex"] = data["Sex"].str.replace("N", "Not specified")
data["Sex"] = data["Sex"].str.replace(".", "Not specified")
data["Sex"] = data["Sex"].str.replace("M ", "M")

In [93]:
data.Sex.unique()

array(['M', 'Not specifiedot specified', 'F', 'Not specified'],
      dtype=object)

In [94]:
#Revisamos el sexo...
data.Age.unique()

array(['16', '36', '43', 'Not specified', '60s', '51', '50', '12', '9',
       '22', '25', '37', '20', '49', '15', '21', '40', '72', '18', '29',
       '31', '11', '10', '59', '42', '34', '35', '19', '6', '27', '64',
       '60', '23', '52', '13', '57', '48', '39', '24', '26', '69', '46',
       'Teen', '41', '45', '65', '38', '71', '32', '58', '28', '54', '44',
       '14', '7', '62', '40s', '68', '47', '17', '30', '63', '70',
       '18 months', '53', '20s', '33', '30s', '50s', '8', '61', '55',
       'teen', '66', '77', '74', '3', '56', '28 & 26', '5', '86',
       '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30', 'Teens',
       '36 & 26', '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½',
       '21 & ?', '75', '33 or 37', 'mid-30s', '73', '23 & 20',
       '7      &    31', '20?', "60's", '32 & 30', '16 to 18', '87', '67',
       'Elderly', 'mid-20s', 'Ca. 33', '21 or 26', '>50', '18 to 22',
       'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months',
       'MAKE LINE GREEN', '81', '"young"', '7 or 8', '78', '17 & 16', 'F',
       'Both 11', '9 or 10', 'young', '36 & 23', '  ', 'A.M.',
       '?    &   14', '10 or 12', '31 or 33'], dtype=object)

In [95]:
data["Age"] = data["Age"].str.replace("16", "Not specified")
data.loc[data['Age'].astype(str).str[:2] == '15', 'Age'] = 'teen'

In [96]:
data.Age.unique()

array(['Not specified', '36', '43', '60s', '51', '50', '12', '9', '22',
       '25', '37', '20', '49', 'teen', '21', '40', '72', '18', '29', '31',
       '11', '10', '59', '42', '34', '35', '19', '6', '27', '64', '60',
       '23', '52', '13', '57', '48', '39', '24', '26', '69', '46', 'Teen',
       '41', '45', '65', '38', '71', '32', '58', '28', '54', '44', '14',
       '7', '62', '40s', '68', '47', '17', '30', '63', '70', '18 months',
       '53', '20s', '33', '30s', '50s', '8', '61', '55', '66', '77', '74',
       '3', '56', '28 & 26', '5', '86', '18 or 20', '12 or 13', '46 & 34',
       '28, 23 & 30', 'Teens', '36 & 26', '8 or 10', '84', '\xa0 ', ' ',
       '30 or 36', '6½', '21 & ?', '75', '33 or 37', 'mid-30s', '73',
       '23 & 20', '7      &    31', '20?', "60's", '32 & 30',
       'Not specified to 18', '87', '67', 'Elderly', 'mid-20s', 'Ca. 33',
       '21 or 26', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', '81', '"young"',
       '7 or 8', '78', '17 & Not specified', 'F', 'Both 11', '9 or 10',
       'young', '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12',
       '31 or 33'], dtype=object)

In [100]:
for i in range(16,17,1):
    data.loc[data['Age'].astype(str).str[:2] == str(i), 'Age'] = 'teen'

for i in range(18,23):
    data.loc[data['Age'].astype(str).str[:2] == str(i), 'Age'] = 'young'

for i in range(24,50):
    data.loc[data['Age'].astype(str).str[:2] == str(i), 'Age'] = 'adult'

In [101]:
data.Age.unique()

array(['Not specified', 'adult', '60s', '51', '50', '12', '9', 'young',
       'teen', '72', '11', '10', '59', '6', '64', '60', '23', '52', '13',
       '57', '69', 'Teen', '65', '71', '58', '54', '14', '7', '62', '68',
       '17', '63', '70', '53', '50s', '8', '61', '55', '66', '77', '74',
       '3', '56', '5', '86', '12 or 13', 'Teens', '8 or 10', '84',
       '\xa0 ', ' ', '6½', '75', 'mid-30s', '73', '23 & 20',
       '7      &    31', "60's", 'Not specified to 18', '87', '67',
       'Elderly', 'mid-20s', 'Ca. 33', '>50', '9 & 12', '? & 19',
       '9 months', '23 & 26', '1', '(adult)', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '2 to 3 months', 'MAKE LINE GREEN',
       '81', '"young"', '7 or 8', '78', '17 & Not specified', 'F',
       'Both 11', '9 or 10', '  ', 'A.M.', '?    &   14', '10 or 12'],
      dtype=object)

In [102]:
for i in range(51,77):
    data.loc[data['Age'].astype(str).str[:2] == str(i), 'Age'] = 'senior'

In [103]:
data.Age.unique()

array(['Not specified', 'adult', 'senior', '50', '12', '9', 'young',
       'teen', '11', '10', '6', '23', '13', 'Teen', '14', '7', '17',
       '50s', '8', '77', '3', '5', '86', '12 or 13', 'Teens', '8 or 10',
       '84', '\xa0 ', ' ', '6½', 'mid-30s', '23 & 20', '7      &    31',
       'Not specified to 18', '87', 'Elderly', 'mid-20s', 'Ca. 33', '>50',
       '9 & 12', '? & 19', '9 months', '23 & 26', '1', '(adult)',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18',
       '2 to 3 months', 'MAKE LINE GREEN', '81', '"young"', '7 or 8',
       '78', '17 & Not specified', 'F', 'Both 11', '9 or 10', '  ',
       'A.M.', '?    &   14', '10 or 12'], dtype=object)

In [104]:
for i in range(4,14):
    data.loc[data['Age'].astype(str).str[:2] == str(i), 'Age'] = 'child'

In [105]:
data.Age.unique()

array(['Not specified', 'adult', 'senior', '50', 'child', 'young', 'teen',
       '23', 'Teen', '14', '17', '50s', '77', '3', '86', 'Teens',
       '8 or 10', '84', '\xa0 ', ' ', '6½', 'mid-30s', '23 & 20',
       '7      &    31', 'Not specified to 18', '87', 'Elderly',
       'mid-20s', 'Ca. 33', '>50', '9 & 12', '? & 19', '9 months',
       '23 & 26', '1', '(adult)', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '2 to 3 months', 'MAKE LINE GREEN', '81',
       '"young"', '7 or 8', '78', '17 & Not specified', 'F', 'Both 11',
       '9 or 10', '  ', 'A.M.', '?    &   14'], dtype=object)

In [106]:
data.loc[data['Age'].astype(str).str[:2] == '50', 'Age'] = 'senior'
data.loc[data['Age'].astype(str).str[:2] == '50s', 'Age'] = 'senior'
data.loc[data['Age'].astype(str).str[:2] == '77', 'Age'] = 'senior'
data.loc[data['Age'].astype(str).str[:2] == '6½', 'Age'] = 'child'
data.loc[data['Age'].astype(str).str[:2] == 'Not specified to 18', 'Age'] = 'young'

In [107]:
data.Age.unique()

array(['Not specified', 'adult', 'senior', 'child', 'young', 'teen', '23',
       'Teen', '14', '17', '3', '86', 'Teens', '8 or 10', '84', '\xa0 ',
       ' ', 'mid-30s', '23 & 20', '7      &    31', 'Not specified to 18',
       '87', 'Elderly', 'mid-20s', 'Ca. 33', '>50', '9 & 12', '? & 19',
       '9 months', '23 & 26', '1', '(adult)', '17 & 35', 'X',
       '"middle-age"', '2 to 3 months', 'MAKE LINE GREEN', '81',
       '"young"', '7 or 8', '78', '17 & Not specified', 'F', 'Both 11',
       '9 or 10', '  ', 'A.M.', '?    &   14'], dtype=object)

In [128]:
data.loc[data['Age'].astype(str).str[:2] == '86', 'Age'] = 'Elderly'
data.loc[data['Age'].astype(str).str[:2] == '84', 'Age'] = 'Elderly'
data.loc[data['Age'].astype(str).str[:2] == '86', 'Age'] = 'Elderly'
data.loc[data['Age'].astype(str).str[:2] == '81', 'Age'] = 'Elderly'

data.loc[data['Age'].astype(str) == 'MAKE LINE GREEN', 'Age'] = 'Not specified'
data.loc[data['Age'].astype(str) == '23 & 26', 'Age'] = 'young'
data.loc[data['Age'].astype(str) == 'Ca. 33', 'Age'] = 'adult'

In [109]:
data.Age.unique()

array(['Not specified', 'adult', 'senior', 'child', 'young', 'teen', '23',
       'Teen', '14', '17', '3', 'Elderly', 'Teens', '8 or 10', '\xa0 ',
       ' ', 'mid-30s', '23 & 20', '7      &    31', 'Not specified to 18',
       '87', 'mid-20s', 'Ca. 33', '>50', '9 & 12', '? & 19', '9 months',
       '23 & 26', '1', '(adult)', '17 & 35', 'X', '"middle-age"',
       '2 to 3 months', 'MAKE LINE GREEN', '"young"', '7 or 8', '78',
       '17 & Not specified', 'F', 'Both 11', '9 or 10', '  ', 'A.M.',
       '?    &   14'], dtype=object)

In [110]:
data.loc[data['Age'].astype(str).str[:2] == '78', 'Age'] = 'Elderly'

for i in range(1,10,1):
    data.loc[data['Age'].astype(str).str[:2] == str(i), 'Age'] = 'child'

In [118]:
for i in range(14,18,1):
    data.loc[data['Age'].astype(str) == str(i), 'Age'] = 'teen'

data.loc[data['Age'].astype(str) == 'Teens', 'Age'] = 'teen'
data.loc[data['Age'].astype(str) == 'Teens', 'Age'] = 'teen'

In [127]:
data.loc[data['Age'].astype(str) == '\xa0 ', 'Age'] = 'Not specified'

In [ ]:
data.loc[data['Age'].astype(str) == '\xa0 ', 'Age'] = 'Not specified'

In [130]:
data.loc[data['Age'].astype(str) == ' ', 'Age'] = 'Not specified'

In [132]:
data.loc[data['Age'].astype(str) == '7 or 8', 'Age'] = 'child'
data.loc[data['Age'].astype(str) == '9 & 12', 'Age'] = 'child'
data.loc[data['Age'].astype(str) == '2 to 3 months', 'Age'] = 'baby'
data.loc[data['Age'].astype(str) == '2 to 3 months', 'Age'] = 'baby'

In [134]:
data.loc[data['Age'].astype(str) == '23 & 20', 'Age'] = 'young'
data.loc[data['Age'].astype(str) == 'mid-30s', 'Age'] = 'adult'
data.loc[data['Age'].astype(str) == 'Not specified to 18', 'Age'] = 'Not specified'
data.loc[data['Age'].astype(str) == 'mid-20s', 'Age'] = 'young'
data.loc[data['Age'].astype(str) == '? & 19', 'Age'] = 'young'

In [141]:
data.loc[data['Age'].astype(str) == '23', 'Age'] = 'young'
data.loc[data['Age'].astype(str) == '87', 'Age'] = 'Elderly'
data.loc[data['Age'].astype(str) == '>50', 'Age'] = 'senior'
data.loc[data['Age'].astype(str) == '9 months', 'Age'] = 'baby'
data.loc[data['Age'].astype(str) == 'X', 'Age'] = 'Not specified'
data.loc[data['Age'].astype(str) == '"middle-age"', 'Age'] = 'adult'
data.loc[data['Age'].astype(str) == 'F', 'Age'] = 'Not specified'
data.loc[data['Age'].astype(str) == 'Both 11', 'Age'] = 'child'
data.loc[data['Age'].astype(str) == '9 or 10', 'Age'] = 'child'
data.loc[data['Age'].astype(str) == '  ', 'Age'] = 'Not specified'
data.loc[data['Age'].astype(str) == 'A.M.', 'Age'] = 'Not specified'
data.loc[data['Age'].astype(str) == '?    &   14', 'Age'] = 'teen'
data.loc[data['Age'].astype(str) == '"young"', 'Age'] = 'young'

In [145]:
data['Age']=data['Age'].str.lower()

In [146]:
data.Age.unique()

array(['not specified', 'adult', 'senior', 'child', 'young', 'teen',
       'elderly', 'baby'], dtype=object)

In [147]:
#Cambiamos los tipos de datos en el dtaaframe...
data.head()

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Source,pdf,href_f,href,Case_Number_1,Case_Number_2,original_order,original_order_1,original_order_2
0,2016.09.18.c,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,not_identified,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,not_identified,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,2016-09-18,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,not_identified,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,2016-09-17,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,not_identified,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,2016-09-15,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,not_identified,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [165]:
data.Name = data.Name.astype(str)

In [168]:
data = data.applymap(str)

In [169]:
data.dtypes

Case_number         object
Date                object
Year                object
Type                object
Country             object
Area                object
Location            object
Activity            object
Name                object
Sex                 object
Age                 object
Injury              object
Fatal               object
Time                object
Species             object
Source              object
pdf                 object
href_f              object
href                object
Case_Number_1       object
Case_Number_2       object
original_order      object
original_order_1    object
original_order_2    object
dtype: object

In [ ]:
#JAJAJAJAJA los convertí todos a objetos :S

In [171]:
Columns=['Date']
data[Columns] = data[Columns].apply(pd.to_datetime)

ValueError: ('day is out of range for month', 'occurred at index Date')

In [ ]:
#Me marcó error, es posible que san los ceros en algunos de los días o el orden de los numeros....

In [ ]:
Columns=['Date']
data[Columns] = data[Columns].apply(pd.to_datetime)

In [45]:
#Guardado archivo salida...
data.to_excel('Shark_final.xls')

In [172]:
data.to_csv('Shark_final.csv')